/* RESEEET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
  text-decoration: none;
  color: #000;
}
a:hover {
	text-decoration: none;

}
/* CSS GENENRAL */

*{
	box-sizing: border-box;
}

body{/*Agrego para poder manejar todo con em*/
	font-size: 10px;
}

h1 {	font-size: 4em;}
h2 {	font-size: 3em;}
h3 {	font-size: 2em;}
h4 {	font-size: 1.8em;}

/* CABEZERA */
.cabezera{
	background: #FAFA17;
	height: 80px;
}
.logo {
	display: flex;
  flex-direction: row;
	align-items:center;
  width: 100%;
}
.logo a{
	margin:0 auto;
}
.logo a:last-child{
	margin:0;
}
.logo img{
  width: 47px;
}
.logo button{
	background-color: ;
}
.fas.fa-bars{
	align-self: flex-end;
}
.fas.fa-bars:hover{
	font-size: 1.6em;
	color:grey;
}

/* NAV DEL MENU */
.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 30px;
  align-items: center;
  margin-bottom: 10px;
	background: #C1D009;
}
/* BUSCADOR DEL NAV */
.buscador{
  width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.fas.fa-search{
	padding: 10px;
	padding-right: 30px;
}

/* CAJA DEL BUSCADOR */
.menu form{
	width: 55%;
}
.menu input{
  width: 90%;
	border: 1px solid #9B9B95;
	border-radius: 2px;
	margin-right: 3px;
}


/*AQUI TERMINA EL LA CABEZERA */

/* PAGINA DE REGISTRO */
main {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
}

main form{
	display: flex;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
}



/*____________________________*/

/*Arranca Cuerpo del Home Mobile*/
body { width:100%;}
.Home {	margin: 10 auto;}
.Home .row {	border: 4px solid black; margin:0; display: flex; flex-direction: column; align-items: center;}
.Home .row h1 {	width:100%;	font-size: 4em; text-align: center; margin: 10px 0;} /*Centra el titutlo en la pagina*/

/*Secciones Propagandas y Categorias en general*/
.Home .row .col-md-8 {	width: 98	%; padding:10px; border: 2px solid Grey; border-radius:5px;  } /*Esto saca la forma de ocupar 8 espacios de doce Bootstrap*/

/*Arranca Seccion Propaganda*/
.Home .row .col-md-8 .Propaganda article {	width:98%; padding:10px;position: relative; overflow:visible; }
.Propaganda article img { width:100%;margin: 0 auto;}
.Propaganda article p { width: 100%; position: absolute; background-color: rgba(0,0,0,0.5); bottom:47.5%; text-align: center; color:white;}
.Propaganda article h4 {	position:absolute; right:0; width:25%;}
/*Finaliza seccion Propagada*/

/*Arranca Seccion Categorias*/
.Home .row .col-md-8 .Categorias
.Categorias { width: 100%;}
.Categorias h3 {  width:100%;margin-bottom:3px; margin-top:3px;}
.Categorias h3 a { border: 1px solid black; width:100%;}
.Categorias article {	display:flex; flex-direction: row;}
.Categorias article .Articulo {width:48%; position:relative; margin:0; overflow: visible; border: 2px solid #f2f2f2; border-radius: 3px;}
.Categorias article .Articulo img { width:100%; }
.Categorias article .Articulo p {	position:absolute;bottom: 0; color:#fff; background-color: rgba(0,0,0,0.5); width:98%; text-align: center; margin-bottom:5px;}

/*Finaliza seccion Categorias*/
/*Finaliza seccion Propagandas y Categorias*/

/*Arranca seccion Navcategorias*/
.Home .row .col-md-4 {}/*Lo mismo que la anterior*/
.Home .row .col-md-4 .navcategorias { display:none;}


/*Termin el Cuerpo del home Mobile*/
/*____________________________*/


/* CUERPO PRINCIPAL DE PAGINA DE PREGUNTAS */
main{
	margin: 10px;
}

h1{
	font-size: 30px;
}
/* CUADRO DE PREGUNTAS  */
.questions {
  margin-bottom: 1px;
  padding: 20px;
}
.questions li{
	background: #C5C6BB;
	margin-bottom: 1px;
	padding: 5px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.questions li:first-child{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.questions li:last-child{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.questions li:hover{ /*CAMBIO DE COLOR SOBRE EL MOUSE EN PREGUNTAS*/
	background: #9B9B95;
}
.questions a{
	font-size: 20px;
}
 /* CAJA DE RESPUESTAS */
.answers {
	padding: 20px;
}
.answers h2{
	font-size: 20px;
	margin-bottom: 15px;
}
.answers p{
	font-size: 16px;
}
.answers article{
	margin-bottom: 10px;
}/*AQUI TERMINA EL CSS DEL MAIN*/

/* ESTE ES EL CSS DE LA PAGINA DE NOTEBOOKS */
.product{
	width: 40%;
	position: relative;
	margin-bottom: 10px;
}

.product img{
	width: 100%;
	border-radius: 10px;
}

.product:hover{
  /* tranformamos el elemento al pasar el mouse por encima al doble de
  su tamaño con scale(1.1). */
  transform : scale(1.1);
  -moz-transform : scale(1.1);      /* Firefox */
  -webkit-transform : scale(1.1);   /* Chrome - Safari */
  -o-transform : scale(1.1);			/* Opera */
}
   /*CAJA DE ADENTRO QUE CONTINE EL PRECIO Y TITULO DEL PRODUCTO*/
.product-inside{
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	background: rgba(0, 0, 0, 0.2);
	color: #fff;
	margin-bottom: 35px;
}

.product-inside:hover{
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.articles{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}/*AQUI TERMINO LA PAGINA DE NOTEBOOKS*/

/* CAJA DE CATEGORIAS */
.side-nav{
	display: none;
}

/* ESTE ES EL FOOTEER */
.pie_pagina{
	background: #F2F2EB;
	height: 60px;
	display: flex;
	justify-content: center;
}
.pie_pagina ul{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.pie_pagina li{
	text-align: center;
}
.pie_pagina a{
	font-size: 12px;
	margin: 5px;
	text-align: center;
	color: 444;
}









/* .. */
