/* Empieza mi estilo
diseño mobile*/
.caja_formulario{
  background-color: rgba(12, 0, 0, 0.5);
  color: white;
  width: 90%;

	display: flex;

  border-radius: 10px;
  padding: 10px;
}

h1{
  display: flex;
  justify-content: center;
  background-color:grey;
	padding: 20px;
  width:100%;
  margin: 0 auto;
}

main{
  margin:0 auto;
	background-image: url(../images/carta.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.datos{
  margin:20px;
	flex-direction: row;
  width: 100%;
}

.dato_interno{
  margin-bottom: 10px;
  width: 100%;
}

.dato_interno input{
  width: 90%;
  height: 30px;
}
.dato_interno i{
  font-size: 2em;
  padding-right: 2px;
  width: 23px;
  height: 23px;

}


.iniciar a, .registrarse a{
	font-family: 'Baloo Tammudu', cursive;
  font-size: 2em;
  color: #fff;
}

.iniciar, .registrarse{
  margin-bottom: 20px;
}

.boton{
  display:flex;
  justify-content: center;
}

/* .registrarse{
	font-family: 'Baloo Tammudu', cursive;
} */

@media (min-width:768px) {
  main{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .dato_interno{
    width: 95%;
    display: flex;
    justify-content: center;
}

.dato_interno i{
  font-size: 30px;
  margin-right: 20px;
}
    form{
      display: flex;
      align-content: center;
}
    .caja_formulario{
      justify-content: center;
      width:80%;
      margin: 10px;
}
    div.datos{
      display:block;
      justify-content: center;
}
    button{
      justify-content: flex-start;
}
  a{
    text-align: center;
  }
}
